/*body {*/
	/*background:#303030;*/
	/*font-size:100%;*/
	/*line-height:1em;*/
	/*text-align:left;*/
/*}*/

/*div {*/
    /*margin: 5px 0px 10px 0px;*/
    /*display: inline-block;*/
    /*border:1px solid #000; margin:10 auto*/
/*}*/

li {
    color: #0000ff;
    font: 15px 'trebuchet MS', 'lucida sans';
	margin-left: 300px;
    list-style: none; /* 清除列表默认的编码*/
    *list-style: decimal; /* 让IE6/7具有默认的编码 */
}

/*ol{*/
    /*counter-reset: li; !* 创建一个计数器 *!*/
    /*list-style: none; !* 清除列表默认的编码*!*/
    /**list-style: decimal; !* 让IE6/7具有默认的编码 *!*/
    /*font: 15px 'trebuchet MS', 'lucida sans';*/
    /*!*padding: 0;*!*/
    /*margin-bottom: 1em;*/
    /*!*text-shadow: 0 1px 0 rgba(255,255,255,.5);*!*/
/*}*/

p{
    font: 13px 'trebuchet MS', 'lucida sans';
    margin-bottom: 1em;
    margin-left: 340px;
    color: #3f8d6a;
}